
.marginBottom {
    margin-bottom: 5vh;
}




.signup-text{
    margin-top: 5px;
    font-family:var(--poppinsBold);
    font-size: 14px;
    text-align: center;
}
.footer{
    text-align: center;
    height: 50px;
    box-shadow: none;
    border: none;
    background-color: #dbdbeca8;
    color: #9a9a9a;
    font-size: 13px;
    font-family: var(--poppinsLight);
}